
/* Hover effect for track images */

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(58,135,145,0.3) 0%, rgba(58,135,145,0.9) 90%);
	background: linear-gradient(to bottom, rgba(58,135,145,0.3) 0%, rgba(58,135,145,0.9) 90%);
	content: '';
	opacity: 0;
}

figure.effect-sadie h3 {
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	color: white;
	-webkit-transition: -webkit-transform 0.25s, color 0.25s;
	transition: transform 0.25s, color 0.25s, text-shadow 0.25s;
	-webkit-transform: translate3d(0,-90%,0);
	transform: translate3d(0,-90%,0);
	text-shadow: 1px 1px 20px rgba(49, 49, 49, 0.9);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	transition: opacity 0.25s, transform 0.25s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.5em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-90%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-90%,0) translate3d(0,-40px,0);
	text-shadow: none;
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p, img {
	opacity: 1;
	color: #f7f7f7;
	text-size: 18px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
