.content-img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.img-some {
   background-image: url('../../img/junctionsome.jpg');
}

.img-1 {
    background-image: url('../../img/48hours.jpg');
}



/* Tracks */


.vr-img {
    background-image: url('../../img/tracks/vr.jpg');
}

.cybersecurity-img {
    background-image: url('../../img/tracks/cybersecurity.jpg');
}

.iot-img {
    background-image: url('../../img/tracks/IOT.jpg');
}

.fintech-img {
    background-image: url('../../img/tracks/fintech.jpg');
}

.futuremobility-img {
    background-image: url('../../img/tracks/futuremobility.jpg');
}

.buildings-img {
    background-image: url('../../img/tracks/intelligentbuildings.jpg');
}

.healthtech-img {
    background-image: url('../../img/tracks/healthtech.jpg');
}

.gaming-img {
    background-image: url('../../img/tracks/gaming.jpg');
}

.adtech-img {
    background-image: url('../../img/tracks/mainostech.jpg');
}

.ecommerce-img {
    background-image: url('../../img/tracks/ecommerce.jpg');
}

.dde-img {
    background-image: url('../../img/tracks/dde.jpg');
}



/* Partners */


.partner-logo {
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    margin: 40px 10px 0 10px;
    padding: 15px;
}

.nokia {
    background-image: url('../../img/logos/nokia.png');
}

.tieto {
    background-image: url('../../img/logos/tieto.png');
}

.supercell {
    background-image: url('../../img/logos/supercell.png');
}

.upm {
    background-image: url('../../img/logos/upm.png');
}

.embers {
    background-image: url('../../img/logos/embers.png');
}

.tba {
    background-image: url('../../img/logos/tba-3.png');
}

.mlh {
    background-image: url('../../img/logos/mlh.png');
}

.zalando {
    background-image: url('../../img/logos/zalando.png');
}

.kesko {
    background-image: url('../../img/logos/kesko.png');
}

.unity {
    background-image: url('../../img/logos/unity.png');
}

.ge {
    background-image: url('../../img/logos/ge.png');
}

@media (max-width: 992px) {
    .partner-logo {
        margin-top: 0 !important;
        height: 125px !important;
    }
}
